<link href="~/Content/ShoeStyle.css" rel="stylesheet" />

@model IEnumerable<WardrobeApp_AH.Models.Shoe>

@{
    ViewBag.Title = "Index";
}

<h2>Dobby has shoes to protect his socks.</h2>


<div class="thumbnail">
    @foreach (var item in Model)
    {
        <div class="row">
            <div>
                @Html.DisplayFor(modelItem => item.ShoeName)
            </div>
            <div>
                <img src=" @Html.DisplayFor(modelItem => item.ShoePhoto)" class="img-rounded" />
            </div>

            <div>
                @Html.ActionLink("Edit", "Edit", new { id = item.ShoeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ShoeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ShoeID })
            </div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

