<link href="~/Content/TopStyle.css" rel="stylesheet" />

@model IEnumerable<WardrobeApp_AH.Models.Top>

@{
    ViewBag.Title = "Index";
}

<h2>Dobby has Shirts </h2>




@foreach (var item in Model)
{
    <div class="thumbnail">
        <p>@Html.DisplayFor(modelItem => item.TopName)</p>

        <img src="@Html.DisplayFor(modelItem => item.TopPhoto)" class="img-rounded" />
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = item.TopID }) |
            @Html.ActionLink("Details", "Details", new { id = item.TopID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TopID })
        </p>
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

